
.my-order-element{
    background-color: #F5F5F5;
    max-width: 700px;
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.total-order, .date-ordered{
    display: flex;

}
.date-ordered{
    padding:  10px 30px;
}
.list-item-product-order{
    margin-top: 25px;
}
.total-status{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 25px;
}
.label-total-order, .label-date-order{
    font-weight: 700;
    padding-right: 15px;
}
.status-order p{
    max-width: fit-content;
    border: 1px solid black;
    padding:  5px 10px;
    margin-right: 20px;
}