.cart-item-img {
    height: 80px;
    width: 80px;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    width: 750px;
}

.cart-item-infor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 350px; */
    padding: 0 10px;
    height: 100%;
    width: 550px;

}

.cart-item-selected {
    height: 100%;
}

.cart-item-des {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 700;
    font-size: 17px;
}

.cart-item-size {
    font-size: 13px;
    border-radius: 20px;
    padding: 3px 7px;
    width: max-content;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}

.cart-item-select {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.cart-item-price {
    font-weight: 700;
    font-size: 13px;
    display: flex;
}



.my-order-element{
    background-color: #F5F5F5;
    max-width: 700px;
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.total-order, .date-ordered{
    display: flex;

}
.date-status{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 25px;
}
.date-ordered{
    padding:  10px 30px;
}
.list-item-product-order{
    margin-top: 25px;
}
.total-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}
.label-total-order, .label-date-order{
    font-weight: 700;
    padding-right: 15px;
}
.status-order p{
    max-width: fit-content;
    border: 1px solid black;
    padding:  5px 10px;
    margin-right: 20px;
}

.btn-cancel-success{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 25px;
}

.cancel p{
    max-width: fit-content;
    border: 1px solid red;
    padding:  5px 10px;
    margin-right: 20px;
    color: red;
    cursor: pointer;
}

.success p{
    max-width: fit-content;
    border: 1px solid green;
    padding:  5px 10px;
    margin-right: 20px;
    color: green;
    cursor: pointer;
}

.process-order{
    margin-bottom: 10px;
    margin-left: 30px;
}