.header-tip{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.desc-tip{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}

.type-skin{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px ;
}

.infor-skin{
    max-width: 240px;
    padding: 20px;
    background-color: rgb(255, 240, 242);
    margin: 10px;
}

.img-dry{
    padding-bottom: 10px;
}

.inf-dry{
    margin: 10px;
    font-size: 14px;
}